.adminNavigation {
    margin-top: 20%;
    display: flex;
    justify-content: center;
    height: 400px;
}

.adminNavigation > div > button {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 0;
    background: linear-gradient(to right,#dcb78b, #967062);
    cursor: pointer;
    transition: background 0.3s ease;
    overflow: hidden;
    position: relative;
}

.adminNavigation > div > button::after {
    content: '';
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to right, #e7bd8a, #e7bd8a);
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 1;
}

.adminNavigation > div > button:hover::after {
    opacity: 1;
}

.adminNavigation > div:first-child {
    padding-right: 10%;
}

.adminNavigation > div > button > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    z-index: 2;
    position: relative;
    font-weight: bold;
    text-transform: capitalize;
}