.container-gallery {
    /* background-color: #f2f0ea; */
    padding-left: 8%;
    padding-right: 7%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.image-in-gallery {
    width: 150px;
    height: 150px;
    padding: 2px;
    object-fit: cover;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .gallery {
        justify-content: center;
    }

    .text-centre-mobile {
        text-align: center;
    }

    .pd-t-5p > div:first-child > h2 {
        padding-top: 10%;
    }
}

@media (max-width: 768px) {
    .pd-t-5p > div:first-child > h2 {
        padding-top: 12%;
    }
}

@media (max-width: 480px) {
    .pd-t-5p > div:first-child > h2 {
        padding-top: 20%;
    }
}


