html {
  scroll-behavior: smooth;
}

.font-weight-400 {
    font-weight: 400;
}

.home-part-1-left {
    float: left;
    width: 43%;
    padding-left: 7.1%;
    /* background-color: rgba(22, 21, 27, 100); */
    padding-top: 12%;
}

.home-part-1-right {
    width: 50%;
    flex-grow: 1;
    display: flex;
}

.home-container-1-part {
    display: flex;
    flex-direction: row;
    height: auto; /* по умолчанию */
}

.f-size-40px {
    font-size: 40px;
}

.font-weight-500 {
    font-weight: 500;
}

.block-about-SM {
    border-left: 1px solid #dcb78b;
    padding-left: 2%;
}

.abouteSM {
    display: flex;
    width: 420px;
    line-height: 25px;
    /* width: 98%; */
}

.multicolor-text {
  background-image: linear-gradient(to right,#dcb78b, #967062); /* Пример градиента */
  background-clip: text; /* Делает текст трафаретом для фона */
  color: transparent; /* Убирает цвет текста, так как он будет заменен фоном */
  background-color: transparent; /* Убирает фон текста */
  text-shadow: none; /* Убирает тень текста */
  font-size: 36px; /* Пример размера шрифта */
  /* Другие настройки текста */
}

.butt-zobacz {
    width: 25%;
    height: 60px;
    /* background-image: linear-gradient(to right, #e7bd8a, #967062); */
    border: 0;
    margin-top: 70px;
    margin-bottom: 119px;
    cursor: pointer;
    background-image: linear-gradient(to right, #e7bd8a, #967062);
    transition: background 0.5s ease; /* Плавный переход */
    overflow: hidden;
    position: relative;
}

.z-i-2 {
    z-index: 2;
    position: relative;
}

.butt-zobacz::after {
    content: '';
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to right, #e7bd8a, #e7bd8a);
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 1;
}

.butt-zobacz:hover::after {
    opacity: 1;
}

.butt-poznaj {
    width: 25%;
    height: 60px;
    background-image: linear-gradient(to right, #967062, #e7bd8a);
    border: 0;
    cursor: pointer;
    transition: background 0.5s ease; /* Плавный переход */
    overflow: hidden;
    position: relative;
}

.butt-poznaj::after {
    content: '';
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to right, #e7bd8a, #e7bd8a);
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 1;
}

.butt-poznaj:hover::after {
    opacity: 1;
}

.margins-for-poznaj {
    margin-top: 70px;
    margin-bottom: 119px;
    margin-left: 100px;
}

.home-container-2-part {
    display: flex;
}

.home-part-2-left {
    width: 43%;
    padding-left: 7.1%;
    padding-top: 1%;
    /* background-color: #FFFCEF; */
    color: #383632;
    padding-bottom: 3%
}

.home-part-2-right {
    width: 50%;
    flex-grow: 1;
    display: flex;
}

.advantages-about {
    flex-wrap: wrap;
    display: flex;
    width: 90%;
    line-height: 25px;
}

.dosw-product {
    padding-top: 80px;
    display: flex;
}

.dosw-product > div > div:first-child {
    font-size: 35px;
    color: black;
}

.dosw-product > div > div:last-child {
    color: black;
    padding-left: 5px;
    font-size: 20px;
}

.padd-left-7p {
    padding-left: 7%;
}

.abouteLuxS {
    font-size: 18px;
    width: 90%;
    display: block;
}



.przewagi > ul {
    list-style: none;
    line-height: 30px;
    padding: 0;
    padding-left: 10px;
}

.przewagi {
    font-size: 18px;
    width: 90%;
    display: block;
}
/* 
.opis-prod{
    width: 70%;
}

.navigation-prod{
    width: 30%;
} */

.types-of-ceilings-title {
    font-family: "Roboto", sans-serif;
    font-size: clamp(40px, 15vw, 200px); /* минимальный, динамический, максимальный */
    font-weight: 500;
    color: #cab8a2;
    display: block;
    width: 100%;
    text-align: center;
}


.types-of-ceilings {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    padding-left: 4%;
    width: 96%;
    box-sizing: border-box;
}
/* 
.types-of-ceilings > div {
    padding: 1%;
} */

.types-of-ceilings > div > div:first-child > img {
    width: 100%;
    margin-bottom: 10%;
    height: auto;
    object-fit: cover;
}

.titleOfTypes {
    font-weight: 500;
    font-size: 24px;
    text-transform: capitalize;
}

.types-of-ceilings > div > div:last-child {
    font-size: 18px;
    margin-top: 5%;
    color: #383632;
}

.block-przewagi-sufitow {
    padding: 4%;
}

.block-przewagi-sufitow > span {
    font-size: 46px;
    text-align: center;
    width: 100%;
    display: block;
    font-weight: 400;
    padding-bottom: 2%;
}

.block-przewagi-sufitow > div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* равномерно */
    gap: 20px;
}

.block-przewagi-sufitow > div > div {
    flex: 1 1 calc(20% - 20px); /* 5 колонок */
    max-width: calc(20% - 20px);
    flex-direction: column;
    display: flex;
    box-sizing: border-box;
}

.block-przewagi-sufitow > div > div > span {
    font-weight: 500;
    font-size: 24px;
    text-transform: capitalize;
}

.icon-przewaga {
    width: 15%;
    height: 15%;
    color: #274982;
}

.pd-t-70px {
    padding-top: 70px;
}

p[id] {
    scroll-margin-top: 70px;
}

.pd-l-5p {
    padding-left: 5%;
}

@media (max-width: 1024px) {
    .home-container-1-part {
        display: flex;
        flex-direction: column-reverse;
    }
    .home-part-1-left {
        float: none;
        width: 98%;
        padding-left: 2%;
        /* background-color: rgba(22, 21, 27, 100); */
        padding-top: 8%;
        flex-wrap: wrap;
        display: flex;
    }
    .home-part-1-right {
        float: none;
        width: 100%;
        position: static;
    }
    .buttons-zobacz-poznaj {
        display: flex;
        width: 100%;
    }
    .buttons-zobacz-poznaj > a {
        justify-content: center;
        display: flex;
        width: 50%;
        margin-bottom: 0;
        margin-left: 0;
    }
    .butt-poznaj {
        width: 80%;
        height: 60px;
        background-image: linear-gradient(to right, #967062, #e7bd8a);
        border: 0;
        cursor: pointer;
        transition: background 0.5s ease; /* Плавный переход */
        overflow: hidden;
        position: relative;
    }
    .butt-zobacz {
        width: 80%;
        height: 60px;
        /* background-image: linear-gradient(to right, #e7bd8a, #967062); */
        border: 0;
        margin-top: 70px;
        margin-bottom: 119px;
        cursor: pointer;
        background-image: linear-gradient(to right, #e7bd8a, #967062);
        transition: background 0.5s ease; /* Плавный переход */
        overflow: hidden;
        position: relative;
    }
    .abouteLS {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        line-height: 25px;
    }

    .home-container-2-part {
        flex-direction: column; /* Строим по вертикали */
    }

    .home-part-2-left {
        order: 1; /* Сначала текст */
        padding-bottom: 10%;
        width: 92.9%; /* на всю ширину */
    }

    .home-part-2-right {
        order: 2; /* Потом картинка */
        width: 100%;
    }

    .w-100p-for-mobile {
        width: 100%;
    }

    .abouteSM {
        display: flex;
        /* width: 420px; */
        line-height: 25px;
        width: 98%;
    }

    .types-of-ceilings-title{
        padding-top: 10%;
        padding-left: 4%;
        padding-bottom: 5%;
        text-align: left;
        width: 96%;
    }
    @keyframes slideDown {
        from {
            opacity: 0;
            transform: translateY(-10%);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

/* планшеты: 2 блока */
@media (max-width: 1024px) and (min-width: 768px) {
    .block-przewagi-sufitow > div > div {
        flex: 1 1 45%; /* два в ряд */
        max-width: 45%;
    }
}

/* телефоны: 1 блок и всё по центру */
@media (max-width: 768px) {
    .block-przewagi-sufitow > div > div {
        flex: 1 1 100%;
        max-width: 100%;
        text-align: center; /* центрируем текст */
    }

    .block-przewagi-sufitow .icon-przewaga {
        display: block;
        margin: 0 auto 10px auto; /* иконка по центру */
        font-size: 2rem; /* можешь подогнать размер */
    }
}
